#angebot {
  .card {
    height: 500px;
    width: 100%;
  }
  .card-block {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
  }
  .card-flip {
    perspective: 1000px;
    &:hover .flip,
    &.hover .flip {
      transform: rotateY(180deg);
    }
  }
  .card-flip {
    height: 660px;
  }
  .flip {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }
  .front,
  .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  .front {
    z-index: 2;
    transform: rotateY(0deg);
  }
  .back {
    transform: rotateY(180deg);
  }
}
