// Styling for the contact section
#contact {
  .form-group {
    margin-bottom: 25px;
    input,
    textarea {
      padding: 20px;
    }
    input.form-control {
      height: auto;
    }
    textarea.form-control {
      height: 236px;
    }
  }
  .form-control:focus {
    border-color: $color-darker;
    box-shadow: none;
  }
  ::placeholder {
    font-weight: 700;
    color: $color-lighter;
    @include heading-font;
  }
  .text-danger {
    color: $theme-danger;
  }
}
