// Styling for the navbar
#mainNav {
  background-color: $color-darker;
  .navbar-toggler {
    right: 0;
    padding: 13px;
    color: $color-darker;
    border: 0;
    background-color: $color-lighter;
  }
  .container {
    padding: 0;
    .navbar-brand {
      color: $color-lighter;
      @include script-font;
      &:hover,
      &:focus,
      &:active,
      &.active {
        color: $color-light;
      }
      img {
        with: auto;
        transition: transform 0.6s ease;
        height: 40px;
      }
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          font-size: 90%;
          font-weight: 400;
          padding: .75em 0;
          letter-spacing: 1px;
          color: $color-lighter;
          @include heading-font;
          &:hover,
          &.active {
            color: $color-light;
          }
        }
      }
    }
  }
  &.navbar-shrink {
    .navbar-brand {
      img {
        transition: transform 0.6s ease;
        transform: scale(0.75);
      }
    }
  }
}

@media(min-width:992px) {
  #mainNav {
    padding: 25px 0;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
    border: none;
    background-color: transparent;
    .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 1.1em 1em !important;
        }
      }
    }
    &.navbar-shrink {
      background-color: $color-darker;
      padding: 0;
      .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
      }
    }
  }
}

@media(max-width:991px) {
  #mainNav {
    .navbar-nav {
      .nav-item {
        &:first-child {
          padding: .25em 0 0 0;
        }
      }
    }
  }
}
