#testimonials {
  .carousel-item {
    height: 250px;
    .carousel-caption {
      top: 0;
      bottom: auto;
      border-left: 50px;
      margin: 0;
      p:before {
        content: "\f10d";
        font-family: 'Fontawesome';
        float: left;
        margin-right: 10px;
      }
    }
  }
}

@media(max-width:991px) {
  #testimonials {
    .carousel-item {
      height: 300px;
    }
  }
}

@media(max-width:767px) {
  #testimonials {
    .carousel-item {
      height: 360px;
    }
  }
}

@media(max-width:575px) {
  #testimonials {
    .carousel-item {
      height: 430px;
    }
  }
}

