// Variables

// Gray and Brand Colors for use across theme

$theme-danger:       #e74c3c;

$purple-darker:      rgb(66,0,66) !default;
$purple-dark:        lighten($purple-darker, 10.0%) !default;
$purple:             lighten($purple-darker, 50.0%) !default;
$purple-light:       lighten($purple-darker, 70.0%) !default;
$purple-lighter:     lighten($purple-darker, 80.0%) !default;

$bg-primary:         $purple-lighter;
$color-primary:      $purple-darker;

