// Variables

// Gray and Brand Colors for use across theme

$theme-danger:       #e74c3c;

$color-darker:      rgb(66,0,66) !default;
$color-dark:        lighten($color-darker, 10.0%) !default;
$color:             lighten($color-darker, 50.0%) !default;
$color-light:       lighten($color-darker, 70.0%) !default;
$color-lighter:     lighten($color-darker, 80.0%) !default;

