<!DOCTYPE html>
<html lang="de">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="{{description}}">
    {{#each meta.meta}}
    <meta name="{{@key}}" content="{{this}}">
    {{/each}}

    <script type="application/ld+json">
     {
      "@context": "http://schema.org",
      "@type": "Organization",
      "address": {
        "@type": "PostalAddress",
        "postalCode": "8004",
        "streetAddress": "Weberstrasse 10",
        "addressLocality": "Zürich",
        "addressRegion": "ZH",
        "addressCountry": "Schweiz"
      },
      "email": "simone(at)naturapraxis.ch",
      "name": "{{meta.name}}",
      "telephone": "41-76-771-75-15",
      "description": "{{description}}",
      "logo": "{{meta.url}}/favicons/firefox_app_512x512.png",
      "url": "{{meta.url}}",
      "sameAs": [
        "https://www.facebook.com/profile.php?id=100009565237943",
        "https://www.facebook.com/naturapraxis.ch/",
        "http://www.simoneroth.ch",
        "http://www.trancehealing.jimdo.com"
      ]
     }
    </script>

    <meta itemprop="name" content="{{title}}">
    <meta itemprop="description" content="{{description}}">
    <meta itemprop="image" content="{{meta.url}}/favicons/firefox_app_512x512.png">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:image" content="{{meta.url}}/favicons/firefox_app_512x512.png">

    <meta property="og:title" content="{{title}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{meta.url}}" />
    <meta property="og:image" content="{{meta.url}}/favicons/firefox_app_512x512.png" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:site_name" content="{{meta.name}}" />
    <meta property="fb:admins" content="100009565237943" /> 
   
    <title>{{title}}</title>

    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Alegreya' rel='stylesheet' type='text/css'>

  </head>
  <body>
    {{> navigationheader}}
    {{#ifpage 'index'}}
      {{> header}}
    {{/ifpage}}
    {{> body}}
    {{> footer}}
    {{> footerjavascripts}}
  </body>  
</html>
