<section id="impressum">
  <div class="container">

{{#markdown}}

<br/>
<br/>
### Anmeldung

Die Terminanmeldung kann schriftlich (Mail/SMS) oder telefonisch erfolgen. Bei Terminauswahl können die Termine höchstens für 12-24 Stunden reserviert werden. Bei einer 1. Konsultation wird eine schriftliche Anmeldung erwünscht, das kann auch nach einem Telefongespräch erfolgen. Die Anmeldung ist verbindlich. Vereinbarte Termine werden vollumfänglich verrechnet, wenn nicht 24 Stunden vorher telefonisch eine Abmeldung erfolgt ist. Das gilt auch bei Krankheit. Ausgenommen davon sind Not- oder Unfälle.<br/>
Bei Verspätung reduziert sich die Behandlungszeit entsprechend. Ist im Anschluss Zeit für eine Ausweitung auf die volle Dauer vorhanden, kann diese gegen entsprechendes Entgelt beansprucht werden. 

### Konditionen

Die Behandlung belaufen sich auf Fr. 144.- pro Stunde.<br/>
Bei einer 1. Konsultation sollten Sie sich 90 Minuten einplanen, da eine ausführliche Anamnese stattfindet. Danach reichen in der Regel 60 Minute.<br/>
Die Konsultation wird in Rechnung gestellt und kann je nach Zusatzversicherung von der Krankenkasse zurückerstattet werden. Die Abklärung über die Behandlungskosten ist Sache des Klienten. 

### Mitgliedschaften/Qualitätslabel

 * [EMR](http://www.emr.ch/emr-public/index.las?-lassosession:u=F7D7CE27-3069-4E0E-A6D3-44580D640DB5)
 * [ASCA](http://www.asca.ch/DC.aspx?content=conc_obj)
 * [EKG](https://www.egk.ch/service/therapeutenstelle/therapeut/)
 * [Visana](https://www.visana.ch/de/privatkunden/leistungen/zusatzversicherung/komplementa)

### Telefonische Beratungen

10 Minuten Telefonische Beratungen sind kostenlos, danach werden pro angefangene 5 Minuten Fr 15.- in Rechnung gestellt

### Vertraulichkeit / Datenschutz

Sämtliche Patientendaten und -angaben werden streng vertraulich behandelt. Die Weitergabe von Informationen an Dritte, z.B. den Hausarzt, erfolgt nur in Absprache mit den Betroffenen und nur mit deren ausdrücklicher Bewilligung. Eine Ausnahme davon bilden meldepflichtige Erkrankung.

### Haftungsausschluss

Es wird keine Verantwortung übernommen für: 

 * selbständige Absetzen von schulmedizinischen Therapien und Medikamenten
 * das Aufflammen von versteckten vorhandenen Erkrankungen, ob dem Patient bekannt oder unbekannt
 * Effekte durch ungenaues, fehlendes Deklarieren bekannter Risiken oder Vorbelastungen in der Anamnese
 * mindere Erfolge aufgrund einer zu früh abgebrochenen Therapie
 * des Nichtausführens von therapeutischen Hausaufgaben
 * Blutergüsse durch das Schröpfen
 * Für eine vorgeschlagene Anwendung, Dosierung oder ein bestimmtes Vorgehen auf dieser Homepage wird keine Gewähr übernommen.
 * Jeder Benutzer ist angehalten, durch sorgfältige Prüfung selber festzustellen, ob die gegebenen Empfehlungen und Richtwerte im konkreten Fall für ihn zutreffend sind
 * Jede Dosierung, Anwendung oder Methode erfolgt auf eigene Gefahr des Benutzers
 * Es werden keine Heilversprechen abgegeben

### Behandlungsgrenzen  

Der Naturheilpraktiker darf von Gesetzes wegen gewisse Tätigkeiten nicht ausüben sowie einige Krankheiten nicht behandeln. Eine Weiterleitung an das entsprechende Fachpersonal bleibt in diesen Fällen vorbehalten. 

### Schlussbestimmungen</h6>

Inhalte der Homepage sowie die AGB können jederzeit, ohne Ankündigung, ganz oder teilweise geändert oder gelöscht werden. Sämtliche Inhalte der Homepage sind Eigentum der Inhaltsverantwortlichen.

{{/markdown}}

  </div>
<section>
