<footer id="footer" class="theme-primary">
  <div class="container theme-inverse">
    <div class="row no-gutters">

      <div class="col-xl-3 col-sm-6 col-12 col">
        <h6>Praxis</h6>
        <p>
          Naturapraxis<br>
          Simone Roth-Doggwiler<br>
          Weberstrasse 10<br>
          8004 Zürich
        </p>
      </div>

      <div class="col-xl-3 col-sm-6 col-12 col">
        <h6>Email</h6>
        <p>
          <a href="mailto:simone@naturapraxis.ch">simone@naturapraxis.ch</a><br/>
        </p>
        <h6>Mobile</h6>
        <p>
          +41767717515
        </p>
      </div>

      <div class="col-xl-3 col-sm-6 col-12 col">
        <h6>Rechtliches</h6>
        <p>
          <a href="./impressum.html" class="external">Impressum</a><br/>
          <a href="./agb.html" class="external">AGB</a>
        </p>
      </div>

      <div class="col-xl-3 col-sm-6 col-12 col">
        <h6>Social-Media</h6>
        <div class="social-icons">
          <a href="https://de-de.facebook.com/naturapraxis.ch/"><i class="fa fa-facebook-square fa-1x"></i></a>
          <a href="http://www.simoneroth.ch/"><i class="fa fa-globe fa-1x"></i></a>
        </div>
      </div>
  
    </div>
    <div class="bottom-gradient no-gutters"></div>

  </div>

  {{#ifpage 'index'}}
    <!-- Map Section -->
    <div id="googleMap"></div>
  {{/ifpage}}

</footer>

