<header id="masthead" class="theme-inverse">
  <div class="intro-body color-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h1>{{data.about.name}}</h1>
          <h3>{{data.about.responsible}}</h3>
          <h6>{{data.about.title}}</h6>
          <br/><iframe src="https://www.coachfrog.ch/coach_toolkit_booking/?id=1105&amp;lang=de" scrolling="no" style="height: 45px; width: 300px; border: 0px none; display: inline-block;" frameborder="0"></iframe>
        </div>
      </div>
    </div>
  </div>
</header>
