<section id="leitbild" class="theme-inverse">
  <div class="container-fluid">

    <h2 class="section-heading">{{data.leitbild.name}}</h2>

    <div class="row">
      <div class="col-md-8 col-12">
        <div class="thema bottom-gradient theme-white sr-left">
          <h3 class="section-subheading">{{data.leitbild.subtitle}}</h3>
          <p>{{data.leitbild.content}}</p>
        </div>
      </div>
      <div class="col-md-4 col-12">
        {{#each data.leitbild.kompetenzen}}
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{this.value}}" aria-valuemin="0" aria-valuemax="100" style="width: {{this.value}}%;">{{this.name}}</div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</section>
