<section id="newsletter" class="theme-white">
  <div class="container">
    <div class="row sr-flip">
      <div class="col-md-12">
        <div class="block">
          <h2 class="section-heading">Newsletter</h2>
          <h3 class="section-subheading">Abonniere den {{data.about.name}}-Newsletter</h3>
          <div class="col-lg-6 offset-lg-3">
            <form action="//leylines.us16.list-manage.com/subscribe/post?u=2b32e15799e26dd39283a0a78&amp;id=24568c915e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div class="input-group">
                <input type="email" class="form-control" name="EMAIL" placeholder="Deine Email-Addresse" id="mce-EMAIL">
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2b32e15799e26dd39283a0a78_24568c915e" tabindex="-1" value=""></div> 
                <span class="input-group-btn">
                  <button class="btn btn-outline-primary btn-primary" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" type="submit">Anmeldung</button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
