<section id="testimonials" class="theme-primary">

  <h2 class="section-heading">{{data.testimonials.name}}</h2>

  <div id="carousel-testimonials" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
    {{#each data.testimonials.items}}
      {{#ifCond @index '===' 0}}
      <div class="carousel-item active">
      {{else}}
      <div class="carousel-item">
      {{/ifCond}}
        <div class="carousel-caption d-sm-block">
          <p class="carousel-text">{{this.content}}</p>
          <h5 class="carousel-text">{{this.author}}</h5>
        </div>
      </div>
    {{/each}}
    </div>
  </div>
</section>

