<section id="timeline" class="theme-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-heading">{{data.timeline.name}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">

          {{#each data.timeline.items}}
            {{#if (ifEven @index)}}
              <li>
            {{else}}
              <li class="timeline-inverted">
            {{/if}}
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid timeline-flip" src="../img/timeline/{{inc @index}}.png" alt="{{this.name}}">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>{{this.time}}</h4>
                    <h4 class="subheading">{{this.name}}</h4>
                  </div>
                  <div class="timeline-body">
                    <p>
                      {{this.content}}
                      {{#with this.link}}
                      <br/><a href="{{dest}}">{{name}}</a>
                      {{/with}}
                    </p>
                  </div>
                </div>
              </li>
          {{/each}}

          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid timeline-flip" src="../img/timeline/end.png" alt="{{data.about.name}}">
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
</section>
